In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = r"C:\Users\himan\Desktop\Machine Learning\2.1 UNZIP_ME_FOR_NOTEBOOKS_V4\08-Linear-Regression-Models/Advertising.csv"

# Read the CSV file using the absolute path
df = pd.read_csv(file_path)

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
#create X and y
X = df.drop('sales',axis=1)
y = df['sales']

# train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=101)

# scale the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [5]:
from sklearn.model_selection import cross_validate

In [6]:
from sklearn.linear_model import Ridge
model = Ridge(alpha=100)

In [7]:
scores = cross_validate(model,X_train,y_train,
                        scoring=['neg_mean_squared_error',
                                'neg_mean_absolute_error'],cv=10)

In [8]:
scores = pd.DataFrame(scores)

In [9]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.039207,0.000000,-6.060671,-1.810212
1,0.007556,0.000000,-10.627031,-2.541958
2,0.000000,0.000000,-3.993426,-1.469594
3,0.005006,0.000000,-5.009494,-1.862769
4,0.000000,0.000000,-9.141800,-2.520697
5,0.000997,0.000949,-13.086256,-2.459995
6,0.000000,0.000000,-3.839405,-1.451971
7,0.000000,0.000000,-9.058786,-2.377395
8,0.000000,0.000000,-9.055457,-2.443344
9,0.006596,0.000000,-5.778882,-1.899797

In [10]:
scores.mean()

fit_time                        0.005936
score_time                      0.000095
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [11]:
model_two = Ridge(alpha=1)

In [12]:
scores_two = cross_validate(model,X_train,y_train,
                        scoring=['neg_mean_squared_error',
                                'neg_mean_absolute_error'],cv=10)

In [13]:
scores_two = pd.DataFrame(scores_two)

In [14]:
scores_two

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.000000,0.000000,-6.060671,-1.810212
1,0.000000,0.000000,-10.627031,-2.541958
2,0.000000,0.000000,-3.993426,-1.469594
3,0.000000,0.000000,-5.009494,-1.862769
4,0.000000,0.000000,-9.141800,-2.520697
5,0.011513,0.000983,-13.086256,-2.459995
6,0.000000,0.003303,-3.839405,-1.451971
7,0.000000,0.000000,-9.058786,-2.377395
8,0.000000,0.000000,-9.055457,-2.443344
9,0.000000,0.000000,-5.778882,-1.899797

In [15]:
scores_two.mean()

fit_time                        0.001151
score_time                      0.000429
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [16]:
model_two.fit(X_train,y_train)

Ridge(alpha=1)

In [17]:
y_final_pred = model_two.predict(X_test)

In [18]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_final_pred)

2.319021579428751

In [19]:
#simple data set ho jo jyada bda na ho to wo hum cross_val_score se hi kr skte h